# 環境變數
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
responses.txt
test_responses.txt
final_test.txt
high_temp_test.txt
very_high_temp_test.txt

# Text files (except requirements.txt and robots.txt)
*.txt
!requirements.txt
!**/requirements.txt
!robots.txt